@{
  ViewBag.Title = "Home";
}

<h2>Dennis Fernando Rupel</h2>

<p><strong>Cargo pretendido:</strong> Desenvolvedor .NET Pleno</p>
<p><strong>Pretensão salarial:</strong> R$5.000,00</p>
<p><strong>Data do teste:</strong> 09/03/2023</p>