@{
  ViewBag.Title = "Sobre";
}


<h2>Sobre</h2>

<h3>Desafio de programação</h3>
<p>
  Neste teste optei por desenvolver o aplicatico que processa os arquivos csv em Console application com o .NET 6, escolhi o .NET 6 por ser uma versão atual e estável do .NET.
</p>
<p>
  Durante o desenvolvimento do aplicativo, em um primeiro momento montei uma versão mais 
  simples com a maioria dos métodos e a execução do aplicativo no próprio Program.Main, 
  apenas com a criação das classes 'Funcionario' e 'RegistroPagamento' criadas de acordo com o exemplo do JSON que estava no documento que descrevia o projeto,
  Para o calculo das horas extras e dias faltantes, criei uma função para verificar dias úteis que além de verificar os finais de semana também verifica feriados nacionais. Um desafio que eu passei 
  foi com relação a data da Páscoa que determina também as datas dos feriados de Corpus Christi e Sexta-feira da Paixão, que sempre tive curiosidade de saber como era definida, e após uma pesquisa 
  cheguei a um método que faz esse cálculo.
  Após testar e verificar os resultados, ajustei a estrutura do projeto, criando os serviços e separando as responsabilidades de cada classe
  Separei a estrutura do projeto em pastas, e configurei o ServiceProvider para fazer a injeção de dependência.
</p>
